/* =========================
   GLOBAL RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* =========================
   MAIN CONTAINER
========================= */
.container {
    width: 500px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* =========================
   TITLE
========================= */
h1 {
    color: #113a86;
    margin-bottom: 20px;
}


/* =========================
   PARAGRAPH DISPLAY
========================= */
#paragraph {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 14px;
    color: #333;
}

/* =========================
   TEXTAREA
========================= */
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    resize: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 15px;
    outline: none;
}

textarea:focus {
    border-color: #2a5298;
}

/* =========================
   TIMER
========================= */
.timer {
    font-weight: bold;
    margin-bottom: 15px;
    color: #1e3c72;
}

/* =========================
   BUTTON
========================= */
button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: #1e3c72;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #624be4;
}
